body {
}

.navBar a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.6em;
    padding: 6px 26px;
    letter-spacing: -1.2px;
    text-transform: uppercase;
}