@model List<InteriorShoppe.Models.Basket>

<a asp-action="Index" asp-controller="Baskets">Items in Basket: @Model.Sum(elm => elm.Quantity)</a>
@*
    <table class="basketItems">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Furniture.Name</td>
                </tr>
            }
        </tbody>
    </table>
*@