@model List<InteriorShoppe.Models.Basket>


<table class="basketItems">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.furniture.Count</td>
            </tr>
        }
    </tbody>
</table>




