body {
    background: url(LandingPageImg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

body, th, td, tbody, tr, a, p {
    font-family: 'Nunito Sans', sans-serif;
}

header {
    background-color: white;
    text-align: center;
}
.bannerHeading {
    margin: 0;
    margin-top: 8px;
    font-family: 'Merriweather', serif;
    font-size: 46px;
    padding: 10px 0;
    padding-bottom: 0px;
    letter-spacing: 4px;
}

.bannerSubheading {
    font-size: 32px;
    font-family: damion;
    margin: 0;
    color: rgba(0,0,0, 0.9);
    font-weight: 300;
}

.navBar {
    background-color: black;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}

.navBar a, .navBar button {
    color: white;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6em;
    padding: 6px 26px;
    letter-spacing: -1.2px;
    text-transform: uppercase;
}

.navBar h2 {
    padding: 0 1em;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.navBar form {
    margin: 0;
}

.navBar button {
    border: none;
    background: none;
    padding: 0;
}

.navBar-primary {
    display: flex;
    justify-content: center;
}

.navBar-secondary {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 10px;
    align-items: center;
    padding-right: 8px;
}

.card {
    background: rgba(255,255,255,0.95);
    padding: 24px;
    width: 66%;
    margin: 10 auto;
    border: 1px solid rgba(0,0,0,0.12);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1px;
}

.details-furniture-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.table {
    text-align: center;
}

.image-tile-medium {
    height: 125px;
}
.image-tile-large {
    height: 250px;
}

dd {
    padding-bottom: 10px;
}

dt {
    font-size:22px;
}